.grid {
	display: grid;
	/* гриды */
	/* grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr; */

	/* фреймы */
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 2vh;
}

.grid > div {
	font-size: 5vw;
	padding: .5em;
	background: gold;
	text-align: center;
}
